{% extends "_base.twig" %}

{% block content %}
    <div class="ui teal three item inverted menu">
        <a href="{{ voltar }}.html" class="item">{{ anterior }}</a>
        <h1 class="item">{{ mes }}/{{ ano }}</h1>
        <a href="{{ avancar }}.html" class="item">{{ posterior }}</a>
    </div>

    <div class="ui breadcrumb">
        <a class="section" href="index.html">Início</a>
        <div class="divider"> / </div>
        <a class="section" href="{{ ano }}.html">{{ ano }}</a>
        <div class="divider"> / </div>
        <div class="active section">{{ mes }}</div>
    </div>

    <table class="ui green striped table">
        <thead>
            <tr>
                <th>Receita</th>
                <th class="right aligned">Previsto</th>
                <th class="right aligned">Recebido</th>
                <th class="right aligned">A Receber</th>
            </tr>
        </thead>
        <tbody>
            {% for item in receitas %}
                <tr>
                    <td>
                        <div class="ui list">
                            <div class="item">
                                <div class="header">
                                    <a href="{{ item.detalhe }}.html">{{ item.descricao }}</a>
                                </div>
                                <div class="description">{{ item.devedor }}</div>
                            </div>
                        </div>
                    </td>
                    <td class="right aligned">{{ item.total.previsto|number_format(2, ',', '.') }}</td>
                    <td class="right aligned">{{ item.total.recebido|number_format(2, ',', '.') }}</td>
                    <td class="right aligned">{{ item.total.saldo|number_format(2, ',', '.') }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th class="right aligned">{{ total.receitas.previsto|number_format(2, ',', '.') }}</th>
                <th class="right aligned">{{ total.receitas.recebido|number_format(2, ',', '.') }}</th>
                <th class="right aligned">{{ total.receitas.saldo|number_format(2, ',', '.') }}</th>
            </tr>
        </tfoot>
    </table>





    <table class="ui red striped table">
        <thead>
            <tr>
                <th>Despesa</th>
                <th class="right aligned">Previsto</th>
                <th class="right aligned">Gasto</th>
                <th class="right aligned">Saldo</th>
            </tr>
        </thead>
        <tbody>
            {% for item in despesas %}
                <tr>
                    <td>
                        <div class="ui list">
                            <div class="item">
                                <div class="header">
                                    <a href="{{ item.detalhe }}.html">{{ item.descricao }}</a>
                                </div>
                                <div class="description">{{ item.projeto }}</div>
                            </div>
                    </td>
                    <td class="right aligned">{{ item.total.previsto|number_format(2, ',', '.') }}</td>
                    <td class="right aligned">{{ item.total.gasto|number_format(2, ',', '.') }}</td>
                    <td class="right aligned">{{ item.total.saldo|number_format(2, ',', '.') }}</td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th class="right aligned">{{ total.despesas.previsto|number_format(2, ',', '.') }}</th>
                <th class="right aligned">{{ total.despesas.gasto|number_format(2, ',', '.') }}</th>
                <th class="right aligned">{{ total.despesas.agastar|number_format(2, ',', '.') }}</th>
            </tr>
        </tfoot>
    </table>



    <table class="ui blue table">
        <thead>
            <tr>
                <th>Resultado</th>
                <th class="right aligned">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                {% if resultados.periodo < 0 %}
                    {% set cls = 'negative' %}
                {% else %}
                    {% set cls = 'positive' %}    
                {% endif %}
                <td>Do Período</td>
                <td class="right aligned {{ cls }}">{{ resultados.periodo|number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
                {% if resultados.anterior < 0 %}
                    {% set cls = 'negative' %}
                {% else %}
                    {% set cls = 'positive' %}    
                {% endif %}
                <td>Anterior</td>
                <td class="right aligned {{ cls }}">{{ resultados.anterior|number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
                {% if resultados.acumulado < 0 %}
                    {% set cls = 'negative' %}
                {% else %}
                    {% set cls = 'positive' %}    
                {% endif %}
                <td>Acumulado</td>
                <td class="right aligned {{ cls }}">{{ resultados.acumulado|number_format(2, ',', '.') }}</td>
            </tr>
        </tbody>
    </table>

{%  endblock %}
