{% extends "_base.twig" %}

{% block content %}
    <h1 class="ui header">Detalhes da Receita</h1>
    <div class="ui breadcrumb">
        <a class="section" href="index.html">Início</a>
        <div class="divider"> / </div>
        <a class="section" href="{{ ano }}.html">{{ ano }}</a>
        <div class="divider"> / </div>
        <a class="section" href="{{ periodo }}.html">{{ mes }}</a>
        <div class="divider"> / </div>
        <div class="active section">Detalhes da receita</div>
    </div>

    <div class="ui green segment">
        <div class="ui list">
            <div class="item">
                <div class="content">
                    <div class="header">Descrição</div>
                    <div class="description">{{ receita.descricao }}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Origem</div>
                    <div class="description">{{ receita.origem }}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Devedor</div>
                    <div class="description">{{ receita.devedor }}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Centro de Custo</div>
                    <div class="description">{{ receita.cc }}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Vencimento</div>
                    <div class="description">{{ receita.vencimento|date('d/m/Y') }}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Agrupador</div>
                    <div class="description">{{ receita.agrupador }}</div>
                </div>
            </div>
            <div class="item">
                <div class="content">
                    <div class="header">Parcelas</div>
                    <div class="description">{{ receita.parcela }} de {{ receita.totalParcelas }}</div>
                </div>
            </div>
        </div>
    </div>

    <table class="ui blue table">
        <thead>
            <tr>
                <th>Resumo</th>
                <th class="right aligned">Valor</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Previsto Atualizado</td>
                <td class="right aligned">{{ receita.total.previsto|number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
                <td>Recebido</td>
                <td class="right aligned">{{ receita.total.recebido|number_format(2, ',', '.') }}</td>
            </tr>
            <tr>
                <td>A Receber</td>
                <td class="right aligned">{{ receita.total.saldo|number_format(2, ',', '.') }}</td>
            </tr>
        </tbody>
    </table>

    <h2 class="ui header">Previsão da receita</h2>

    <div class="ui teal segment">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th class="right aligned">Valor</th>
                    <th>Observação</th>
                </tr>
            </thead>
            <tbody>
                {% for item in receita.previsao %}
                    <tr>
                        <td>{{ item.data|date('d/m/Y') }}</td>
                        <td class="right aligned">{{ item.valor|number_format(2, ',', '.') }}</td>
                        <td>{{ item.observacao }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Total</th>
                    <th class="right aligned">{{ receita.total.previsto|number_format(2, ',', '.') }}</th>
                </tr>
            </tfoot>
        </table>
    </div>

    <h2 class="ui header">Recebimentos</h2>

    <div class="ui olive segment">
        <table class="ui striped table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th class="right aligned">Valor</th>
                    <th>Observação</th>
                </tr>
            </thead>
            <tbody>
                {% for item in receita.recebimento %}
                    <tr>
                        <td>{{ item.data|date('d/m/Y') }}</td>
                        <td class="right aligned">{{ item.valor|number_format(2, ',', '.') }}</td>
                        <td>{{ item.observacao }}</td>
                    </tr>
                {% endfor %}
            </tbody>
            <tfoot>
                <tr>
                    <th colspan="2">Total</th>
                    <th class="right aligned">{{ receita.total.recebido|number_format(2, ',', '.') }}</th>
                </tr>
            </tfoot>
        </table>
    </div>
{%  endblock %}
