{% extends "_base.twig" %}

{% block content %}
    <div class="ui orange inverted menu">
        <div class="header item">Agrupadores</div>
    </div>

    <div class="ui breadcrumb">
        <a class="section" href="index.html">Início</a>
        <div class="divider"> / </div>
        <a class="section" href="mais.html">Mais</a>
        <div class="divider"> / </div>
        <div class="active section">Agrupadores</div>
    </div>


    <table class="ui striped table">
        <thead>
            <tr>
                <th>Agrupador</th>
                <th>Receita</th>
                <th>Despesa</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            {% for nome, agrupador in agrupadores %}
                <tr>
                    <td>
                        <a href="agrupador-{{ nome }}.html">{{ nome }}</a>
                    </td>
                    <td>
                        {{ agrupador.receita|number_format(2, ',', '.') }}
                    </td>
                    <td>
                        {{ agrupador.despesa|number_format(2, ',', '.') }}
                    </td>
                    <td>
                        {{ agrupador.resultado|number_format(2, ',', '.') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{%  endblock %}
