{% extends "_base.twig" %}

{% block content %}
    <h1 class="ui header">Detalhes da Aplicação da Despesa</h1>
    <div class="ui breadcrumb">
        <a class="section" href="index.html">Início</a>
        <div class="divider"> / </div>
        <a class="section" href="aplicacoes.html">Aplicações</a>
        <div class="divider"> / </div>
        <div class="active section">{{ nome }}</div>
    </div>

    {% for ano, meses in periodo %}
        <div class="ui red segment">
            <h4 class="header">
                <a href="{{ ano }}.html">{{ ano }}</a>
            </h4>
            
            <h5 class="header">Despesas</h5>
            <table class="ui striped table">
                <thead>
                    <tr>
                        <th>Mês</th>
                        <th>Previsto</th>
                        <th>Gasto</th>
                        <th>Saldo</th>
                    </tr>
                </thead>
                <tbody>
                    {% for mes, subitem in meses %}
                        <tr>
                            <td>
                                <a href="{{ subitem.periodo }}.html">{{ mes }}</a>
                            </td>
                            <td class="right aligned">{{ subitem.despesas.previsto|number_format(2, ',', '.') }}</td>
                            <td class="right aligned">{{ subitem.despesas.gasto|number_format(2, ',', '.') }}</td>
                            <td class="right aligned">{{ subitem.despesas.agastar|number_format(2, ',', '.') }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>
        </div>
    {% endfor %}
    
{%  endblock %}
