{% extends "_base.twig" %}

{% block content %}
    <div class="ui violet one item inverted menu">
        <h1 class="item">Períodos</h1>
    </div>


    <div class="ui center aligned segment">
        <div class="ui huge labels">
            {% for ano in anos %}
                <a class="ui label" href="#{{ ano }}">{{ ano }}</a>
            {% endfor %}
        </div>
    </div>
    
        <div class="ui left aligned segment">
        <div class="ui medium labels">
                <span class="ui green label">Aberto</span>
                <span class="ui blue label">Fechado</span>
                <span class="ui red label">Faltando</span>
        </div>
    </div>

    {% for ano, item in periodos %}
        <div class="ui red segment">
            <h2 class="ui header">
                <div class="content">
                    <a href="{{ ano }}.html">{{ ano }}</a>
                </div>
                <a id="{{ano}}" href="#">
                    <i class="angle double up icon"></i>
                </a>
            </h2>

            <div class="ui labels">
                {% for mes in item %}
                    {% if mes.status == 1 %}
                        <a class="ui green huge label" href="{{ ano }}-{{ mes.seq}}.html">
                            {{ mes.nome }}
                        </a>
                    {% elseif mes.status == -1 %}
                        <a class="ui red huge label">
                            {{ mes.nome }}
                        </a>
                    {% else %}
                        <a class="ui blue huge label" href="{{ ano }}-{{ mes.seq}}.html">
                            {{ mes.nome }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}

{%  endblock %}
