{% extends "_base.twig" %}

{% block content %}
    <div class="ui red one item inverted menu">
        <h1 class="item">Períodos</h1>
    </div>


    <div class="ui center aligned segment">
        <div class="ui huge labels">
            {% for ano in anos %}
                <a class="ui label" href="#{{ ano }}">{{ ano }}</a>
            {% endfor %}
        </div>
    </div>

    {% for ano, item in periodos %}
        <div class="ui red segment">
            <h2 class="ui header">
                <div class="content">
                    <a href="{{ ano }}.html">{{ ano }}</a>
                </div>
                <a id="{{ano}}" href="#">
                    <i class="angle double up icon"></i>
                </a>
            </h2>

            <div class="ui labels">
                {% for mes in item %}
                    {% if mes.status == 1 %}
                        <a class="ui green huge label" href="{{ ano }}-{{ mes.seq}}.html">
                            {{ mes.nome }}
                        </a>
                    {% elseif mes.status == -1 %}
                        <a class="ui red huge label">
                            {{ mes.nome }}
                        </a>
                    {% else %}
                        <a class="ui blue huge label" href="{{ ano }}-{{ mes.seq}}.html">
                            {{ mes.nome }}
                        </a>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}



    {#{% for ano, item in periodos %}
        <div class="ui horizontal segment">
            <div class="content>"
                <a class="item" href="#{{ ano }}">{{ ano }}</a>
            </div>
        </div>
    {% endfor %}

    {% for ano, item in periodos %}

        <div class="ui red segment">
            <div class="icon red inverted header">
                <a href="{{ ano }}.html">{{ ano }}</a>
                <a id="{{ano}}" href="#">
                    <i class="angle double up icon"></i>
                </a>
            </div>
            <div class="content">
                {%  for mes, status in item %}
                    {% if mes == '01' %}
                        {% set nome = 'jan' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '02' %}
                        {% set nome = 'fev' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '03' %}
                        {% set nome = 'mar' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '04' %}
                        {% set nome = 'abr' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '05' %}
                        {% set nome = 'mai' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '06' %}
                        {% set nome = 'jun' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '07' %}
                        {% set nome = 'jul' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '08' %}
                        {% set nome = 'ago' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '09' %}
                        {% set nome = 'set' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '10' %}
                        {% set nome = 'out' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '11' %}
                        {% set nome = 'nov' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                    {% if mes == '12' %}
                        {% set nome = 'dez' %}
                        {% if status == 1 %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% else %}
                            <a class="ui green label" href="{{ ano }}-{{ mes }}.html">
                                {{ nome }}
                            </a>
                        {% endif %}
                    {% else %}
                        <span class="ui grey label">
                            {{ nome }}
                        </span>
                    {% endif %}
                {% endfor %}
            </div>
        </div>
    {% endfor %}#}

{%  endblock %}
