{% extends "_base.twig" %}

{% block content %}
    <div class="ui teal inverted menu">
        <div class="header item">Devedores/Credores</div>
    </div>

    <div class="ui breadcrumb">
        <a class="section" href="index.html">Início</a>
        <div class="divider"> / </div>
        <a class="section" href="mais.html">Mais</a>
        <div class="divider"> / </div>
        <div class="active section">Devedores/Credores</div>
    </div>


    <table class="ui striped table">
        <thead>
            <tr>
                <th>Devedor/Credor</th>
                <th>Receita</th>
                <th>Despesa</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            {% for nome, pessoa in pessoas %}
                <tr>
                    <td>
                        <a href="pessoa-{{ nome }}.html">{{ nome }}</a>
                    </td>
                    <td>
                        {{ pessoa.receita|number_format(2, ',', '.') }}
                    </td>
                    <td>
                        {{ pessoa.despesa|number_format(2, ',', '.') }}
                    </td>
                    <td>
                        {{ pessoa.resultado|number_format(2, ',', '.') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

{%  endblock %}
