{% extends "_base.twig" %}

{% block content %}
    <div class="ui orange inverted menu">
        <div class="header item">Detalhes do Devedor/Credor</div>
    </div>

    <div class="ui breadcrumb">
        <a class="section" href="index.html">Início</a>
        <div class="divider"> / </div>
        <a class="section" href="mais.html">Mais</a>
        <div class="divider"> / </div>
        <a class="section" href="pessoas.html">Devedores/Credores</a>
        <div class="divider"> / </div>
        <div class="active section">{{ nome }}</div>
    </div>

    
    <table class="ui striped table">
        <thead>
            <tr>
                <th>Mês</th>
                <th>Receita</th>
                <th>Despesa</th>
                <th>Resultado</th>
            </tr>
        </thead>
        <tbody>
            {% for periodo, item in pessoa.periodos %}
                <tr>
                    <td>
                        <a href="{{ periodo }}.html">{{ item.mes }}</a>
                    </td>
                    <td class="right aligned">
                        {{ item.receita|number_format(2, ',', '.') }}
                    </td>
                    <td class="right aligned">
                        {{ item.despesa|number_format(2, ',', '.') }}
                    </td>
                    <td class="right aligned">
                        {{ (item.receita - item.despesa)|number_format(2, ',', '.') }}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
        <tfoot>
            <tr>
                <th>Total</th>
                <th class="right aligned">{{ pessoa.total.receita|number_format(2, ',', '.') }}</th>
                <th class="right aligned">{{ pessoa.total.despesa|number_format(2, ',', '.') }}</th>
                <th class="right aligned">{{ (pessoa.total.receita - pessoa.total.despesa)|number_format(2, ',', '.') }}</th>
            </tr>
        </tfoot>
    </table>
{%  endblock %}
